#framerate-samples:               4

initial-present-resolution:      auto
max-render-resolution:           auto
present-mode:                    mailbox
cel-shading:                     7
cel-smoothness:                  1.0
cel-exponent:                    4
dithering-steps:                 0
point-light-intensity-threshold: 1/64
target-framerate:                72
target-tickrate:                 60
field-of-view:                   80
log-level:                       debug
